- const allOdds = data.summary

h3 Summary section
  table(class='odds')
    tr
      th Match 
      th Odd 
      th B 
      th L 
      th A 
      th I 
      th R
    each odd in allOdds
      tr
        td= odd.playingTeams
        td= odd.displayName
        td= odd.betfairBack
        td= odd.betfairLay
        td= odd.betfairAverage
        td= odd.iddaaOdd
        td= odd.ratio
